html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Segoe UI, Arial;
    background: #000;
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.slide.ativo {
    opacity: 1;

    -webkit-animation: kenburns 30s linear infinite alternate;
    animation: kenburns 30s linear infinite alternate;
}

@-webkit-keyframes kenburns {
    from {
        -webkit-transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.03);
    }
}

@keyframes kenburns {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .15),
            rgba(0, 0, 0, .35),
            rgba(0, 0, 0, .65));
}

#info {
    position: absolute;
    left: 30px;
    bottom: 25px;
    color: white;
    text-shadow: 0 0 12px black;
    z-index: 10;
}

#hora {
    font-size: 54px;
    font-weight: 200;
    line-height: 1;
}

#data {
    font-size: 22px;
    margin-top: 8px;
}

#clima {
    position: absolute;
    right: 40px;
    top: 50px;
    text-align: right;
    color: white;
    text-shadow: 0 0 12px black;
}

#temperatura {
    font-size: 48px;
}

#cidade {
    font-size: 22px;
    opacity: .8;
}

#iconeClima {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 4px;
}

#painelInformativo {
    position: absolute;

    left: 42%;
    right: 30px;
    bottom: 25px;

    min-height: 78px;
    padding: 14px 18px;

    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.52);
    border-radius: 10px;

    color: white;
    text-shadow: 0 1px 6px black;

    opacity: 1;

    -webkit-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;

    z-index: 10;
}

#painelInformativo.oculto {
    opacity: 0;
}

#painelInformativo.visivel {
    opacity: 1;
}

#tituloPainel {
    margin-bottom: 7px;

    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;

    opacity: 0.8;
}

#fontePainel {
    font-size: 13px;
    opacity: .65;

    margin-bottom: 6px;

    letter-spacing: .5px;
}

#conteudoPainel {
    font-size: 23px;
    font-weight: 300;
    line-height: 1.2;

    opacity: 1;

    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}

#conteudoPainel.oculto {
    opacity: 0;
}

#conteudoPainel.visivel {
    opacity: 1;
}